<!--CSS APPEND-->
<div class="modal fade" id="alertModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content custom-modal">

            <div class="modal-body text-center px-4 py-5">

                <!-- Icon -->
                <div class="alert-icon mb-2">
                    <i class="bi bi-exclamation-triangle"></i>
                </div>

                <!-- Title -->
                <h5 class="alert-title mb-2">
                    Información
                </h5>

                <!-- Message -->
                <p class="custom-modal-message mb-4" id="mensaje">
                </p>

                <!--Btn entendido-->
                <button class="btn btn-custom" data-bs-dismiss="modal">Ok</button>
            </div>

        </div>
    </div>
</div>
