<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Sistema de gestion SASA"] Sistema de gestión SASA</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SASA.styles.css" asp-append-version="true" />

    <!-- This is for the extra things we need like fonts, icons, etc-->
    <!-- Font Montserrat -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <!--Bootstrap icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
</head>
<body>
    <!--TOPBAR LAYOUT-->
    <header class="topbar-custom">
        <div class="topbar-left">
            <button class="btn btn-link text-white icon-btn" id="sidebarToggle">
                <i class="bi bi-list fs-3"></i>
            </button>

            <div class="logo-sasa">
                <img src="/img/logo-blanco-custom.png" alt="logo-sasa" asp-area="" asp-controller="Home" asp-action="Index" />
@*                 <h1>Sistema de Gestión SASA</h1> *@
            </div>
        </div>

        <div class="topbar-actions">
            <!--Notification icon-->
            <div class="notification-wrapper">
                <button class="btn btn-link text-white position-relative">
                    <i class="bi bi-bell fs-4"></i>
                    <span class="notification-badge">3</span>
                </button>
            </div>


            <!--User menu-->
            <div class="dropdown">
                <button class="btn btn-link text-white dropdown-toggle" data-bs-toggle="dropdown">
                    <i class="bi bi-person-circle fs-4"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item text-black dp-item" href="#">Perfil</a></li>
                    <li><a class="dropdown-item text-black dp-item" href="#">Ajustes</a></li>
                    <li><a class="dropdown-item text-danger dp-item" href="#">Salir</a></li>


                </ul>
            </div>
        </div>
        
    </header>

    <!--SIDEBAR LAYOUT-->
    <aside class="sidebar-custom" id="sidebar">
        <div class="sidebar-header">
            <img src="/img/logo-blanco.png" alt="logo-sasa" class="sidebar-logo"  />
            <button class="btn btn-link icon-btn" id="sidebarClose">
                <i class="bi bi-x-lg custom-icon"></i>
            </button>
        </div>
        <nav class="sidebar-nav">
            <!--Sections of the navbar-->
            <div class="nav-section">
                <span class="section-title">General</span>
                <a href="#" class="nav-link">
                    <i class="bi bi-bar-chart"></i>
                    Dashboard
                </a>
            </div>
            <div class="nav-section">
                <span class="section-title">Administración</span>

                <!-- Dropdown trigger -->
                <button class="nav-link dropdown-toggle-btn" type="button">
                    <i class="bi bi-shield-lock"></i>
                    Módulo Administrativo
                    <i class="bi bi-chevron-down ms-auto"></i>
                </button>

                <!-- Dropdown items -->
                <div class="submenu">
                    <a href="#" class="submenu-link">
                        <i class=""></i>
                        Gestión de Usuarios
                    </a>
                    <a href="#" class="submenu-link">
                        <i class=""></i>
                        Gestión de Formularios
                    </a>
                    <a href="#" class="submenu-link">
                        <i class=""></i>
                        Gestión de Tiquetes
                    </a>
                    <a href="#" class="submenu-link">
                        <i class=""></i>
                        Gestión de Colas
                    </a>
                </div>
            </div>
            <div class="nav-section">
                <!-- Dropdown trigger -->
                <button class="nav-link dropdown-toggle-btn" type="button">
                    <i class="bi bi-archive"></i>
                    Módulo de Inventario
                    <i class="bi bi-chevron-down ms-auto"></i>
                </button>

                <!--Dropdown items-->
                <div class="submenu">
                    <a href="#" class="submenu-link">
                        <i class=""></i>
                        Gestión de Activos
                    </a>
                    <a href="#" class="submenu-link">
                        <i class=""></i>
                        Equipos
                    </a>
                    <a href="#" class="submenu-link">
                        <i class=""></i>
                        Historial y Mantenimiento
                    </a>
                    <a href="#" class="submenu-link">
                        <i class=""></i>
                        Gestión de Reportes
                    </a>
                </div>
            </div>
            <div class="nav-section">
                <span class="section-title">Usuarios</span>
                <!-- Dropdown trigger -->
                <button class="nav-link dropdown-toggle-btn" type="button">
                    <i class="bi bi-ticket-perforated"></i>
                    Módulo de Tiquetes
                    <i class="bi bi-chevron-down ms-auto"></i>
                </button>

                <!--Dropdown items-->
                <div class="submenu">
                    <a asp-area="" asp-controller="Tiquete" asp-action="Index" class="submenu-link">
                        <i class="bi bi-ticket-perforated"></i>
                        Gestión de Tiquetes
                    </a>

                </div>
            </div>
        </nav>
    </aside>


    <!--MAIN CONTENT-->
    <div class="content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

@*     <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - SASA - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
