@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<div class="container-fluid">
    <div class="sasa-card">
        <div class="card-body">
            <h2 class="text-danger fw-bold mb-2">Error</h2>

            <p>Ha ocurrido un error pero intentaremos arreglarlo lo más pronto posible</p>
        </div>
    </div>
</div>