
html, body {
    font-family: 'Montserrat', sans-serif;
}

.table-custom thead {
    height: 5vh;
    
    background-color: #f9fafb;
    border-bottom: rgba(0, 0, 0, .05);
}

.table td, .table th {
    vertical-align: middle;
}

.btn-link {
    color: var(--primary-color);
}

    .btn-link:hover {
        color: var(--secondary-color);
        text-decoration: none;
    }

.btn-custom {
    background-color: var(--primary-color);
    color: var(--text-light);
}

.detail-btn {
    color: var(--accent-2);
    font-weight: bold;
}

.edit-btn {
    color: var(--accent-1);
}

/*TICKET FORM STYLES*/
.modal-xl {
    max-width: 1000px;
}

.modal-header{
    background-color: var(--primary-color);
    color: var(--text-light);
}

.modal-content {
    border-radius: 12px;
    overflow: hidden;
}

.form-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.form-content {
    flex: 1;
    overflow-y: auto;
    padding: 2rem;
}

/*Sections*/

.section-title-form {
    color: var(--primary-color);
    font-weight: 700;
    margin-bottom: 0.25rem;
}
.section-subtitle {
    color: #6c757d;
    margin-bottom: 1.5rem;
    font-size: 0.9rem;
}

/*Labels*/
.form-label {
    font-weight: 600;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

.required-field::after {
    content: " *";
    color: var(--danger-color);
}

/*This is for the footer, I am referencing the existing RRHH system*/
.modal-footer-custom {
    border-top: 1px solid #dee2e6;
    padding: 1rem 2rem;
}

/*Buttons*/
.btn-primary-custom {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

    .btn-primary-custom:hover {
        background-color: var(--secondary-color);
        border-color: var(--secondary-color);
    }

.btn-success-custom {
    background-color: var(--success-color);
    border-color: var(--success-color);
}

.is-valid {
    border-color: var(--success-color);
}

.is-invalid {
    border-color: var(--danger-color);
}


/*For ticket details*/
.timeline {
    list-style: none;
    padding-left: 0;
}

    .timeline li {
        position: relative;
        padding-left: 1.5rem;
        margin-bottom: 1rem;
    }

        .timeline li::before {
            list-style: none;
            content: '';
            position: absolute;
            left: 0;
            top: 0.4rem;
            width: 8px;
            height: 8px;
            border-radius: 50%;
        }

.timeline-date {
    font-size: 0.75rem;
    color: #6c757d;
}

:root {
    --sasa-primary: #0a2f73;
}

.btn-sasa-primary {
    background-color: var(--sasa-primary);
    border-color: var(--sasa-primary);
    color: #fff;
}

    .btn-sasa-primary:hover,
    .btn-sasa-primary:focus {
        background-color: var(--sasa-primary);
        border-color: var(--sasa-primary);
        filter: brightness(0.92);
        color: #fff;
    }
