/* Content area - for mobile*/
.content {
    padding: 1rem;
    min-height: calc(100vh - 56px);
}

/* Desktop */
@media (min-width:992px) {
    .content {
        margin: 0 6rem 0 6rem;
        padding: 0.2rem 2rem 0 2rem;
        min-height: calc(100vh - 60px);
    }

    .logo-sasa {
        height: 40px;
    }

    .topbar-custom {
        height: 60px;
    }
}
