/* Content area - for mobile*/
.content {
    min-height: 100vh;
    padding: 1rem;
}

/* Desktop */
@media (min-width:992px) {
    .content {
        margin: 0 6rem 0 6rem;
        padding: 2rem;
    }

    .logo-sasa {
        height: 40px;
    }

    .topbar-custom {
        height: 60px;
    }
}
