.modal-xl {
    max-width: 1000px;
}

.modal-header {
    background-color: var(--primary-color);
    color: var(--text-light);
}

.modal-content {
    border-radius: 12px;
    overflow: hidden;
}

.form-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.form-content {
    flex: 1;
    overflow-y: auto;
    padding: 2rem;
}

.section-title-form {
    color: var(--primary-color);
    font-weight: 700;
    margin-bottom: 0.25rem;
}

.section-subtitle {
    color: #6c757d;
    margin-bottom: 1.5rem;
    font-size: 0.9rem;
}

/*Labels*/
.form-label {
    font-weight: 600;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

.required-field::after {
    content: " *";
    color: var(--danger-color);
}

.modal-footer-custom {
    border-top: 1px solid #dee2e6;
    padding: 1rem 2rem;
}

/*Pop ups*/
﻿ /*First for success modal*/
.custom-modal {
    border-radius: 14px;
}

.success-icon {
    font-size: 3.5rem;
    color: var(--success-color);
}

.success-title {
    font-weight: 700;
    color: var(--primary-color);
}

.custom-modal-message {
    font-size: 0.95rem;
    color: #6c757d;
}

/*Then for error modal*/

.error-icon {
    font-size: 3.5rem;
    color: var(--danger-color);
}

.error-title {
    font-weight: 700;
    color: var(--danger-color);
}

.error-message {
    font-size: 0.95rem;
    color: #6c757d;
}

/* Scroll oculto reutilizable */
.scroll-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

    .scroll-hidden::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

/* Detalle modal body reutilizable */
.detail-modal-content {
    max-height: calc(100vh - 220px);
    overflow-y: auto;
    padding: 2rem;
}

/* Footer sticky reutilizable */
.modal-footer-sticky {
    position: sticky;
    bottom: 0;
    background: #fff;
    z-index: 10;
}
/*Then for alert modal*/
#alertModal .alert-icon i {
    font-size: 3.5rem;
    color: #D99209;
}

#alertModal .alert-title {
    font-weight: 700;
    color: #D99209;
}