@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800&display=swap");

@layer {
  @import "tailwindcss";
}

:root {
  --sasa-primary: #B7041A;
  /* rojo principal */
  --sasa-primary-2: #E00319;
  /* rojo secundario */
  --sasa-primary-3: #FF1A3B;
  /* rojo acento */
  --sasa-black: #000000;
  --sasa-gray: #BFBFBF;
  --sasa-gray-light: #DBDBDB;
  --light-highlight: #F9FAFB;
  --sasa-accent: #4EBBD6;
  /* celeste corporativo */

  color-scheme: light dark;
  color: #282828;
  background-color: var(--color-light-hightlight);
}

/*THEME FOR TAILWIND*/
@theme {
  --font-montserrat: "Montserrat", sans-serif;
  --color-primary: var(--sasa-primary);
  --color-primary-2: var(--sasa-primary2);
  --color-primary-3: var(--sasa-primary-3);
  --color-accent: var(--sasa-accent);
  --color-light-hightlight: var(--light-highlight);

}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

main{
  margin: 0px 30px 0px 30px;
}

/*--------------------------------------------------------------------------*/
/* GLOBAL STYLING FOR MAIN COMPONENTS */

/* Card styling*/
.card{
  background-color:#ffffff;
  border: 1px solid #dfe7ef;
  padding:2rem;
  margin-bottom: 2rem;
  border-radius: 12px;
}

/*Footer styles*/
footer {
  background-color: #ffffff;
  padding: 2rem 0;
  margin-top: 2rem;
  border-top: 1px solid #e9ecef;
}

.footer-logo {
  max-height: 80px;
  width: auto;
}

/*Navbar styles*/

.custom-navbar {
  background-color: #ffffff;
  border-bottom: 1px solid #e9ecef;
  box-shadow: 0 3px 5px rgba(0,0,0,.02),0 0 2px rgba(0,0,0,.05),0 1px 4px rgba(0,0,0,.08);
  min-height: 100px;
  min-width: 100%;
}

.nav-img {
  max-height: 60px;
  width: auto;
}

.accentBtn {
  background-color: var(--sasa-accent);
  color: #ffffff;
}

/*Sidebar styles*/
aside {
  background-color: var(--light-highlight);
}

/*Logo styles*/
.img-logo {
  height: auto;
  max-width: 100%;
}


/*--------------------------------------------------------------------------*/

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 6px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #0e0e0e;
    color: var(--sasa-gray-light);
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}