@model SASA.ViewModels.Categoria.CrearCategoriaViewModel

<div class="modal fade" id="addCategoriaModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-controller="Categoria" asp-action="CrearCategoria" method="post">
                @Html.AntiForgeryToken()

                <div class="modal-header">
                    <h5 class="modal-title">Nueva Categoría</h5>
                    <button type="button" class="btn text-white" data-bs-dismiss="modal"><i class="bi bi-x-lg"></i></button>
                </div>

                <div class="modal-body">
                    <div class="mb-3">
                        <label asp-for="NombreCategoria" class="form-label required-field"></label>
                        <input asp-for="NombreCategoria" class="form-control" />
                        <span asp-validation-for="NombreCategoria" class="text-danger"></span>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-custom">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>