@{
    ViewData["Title"] = "Acceso denegado";
}

<div class="d-flex justify-content-center align-items-center" style="min-height: 70vh;">
    <div class="card sasa-card shadow-sm" style="max-width: 400px; width: 100%;">
        <div class="card-body text-center">
            <h2 class="mb-0 fw-bold text-danger">
                Acceso denegado</h2>
            <p class="card-text text-muted mb-4">
                No tienes permisos para ver esta página.
            </p>
            <a asp-action="Index" asp-controller="Home" class="btn btn-custom w-100">
                Volver
            </a>
        </div>
    </div>
</div>