@model CreateUserVm
@{
    ViewData["Title"] = "Crear usuario";
}

<h2>Crear usuario</h2>

<form asp-area="Admin" asp-controller="Users" asp-action="Create" method="post">
    @Html.AntiForgeryToken()

    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <input asp-for="TempPassword" type="password" class="form-control" />
    <span asp-validation-for="TempPassword" class="text-danger"></span>
    <label asp-for="TempPassword" class="form-label"></label>


    <div class="form-check mb-3">
        <input asp-for="Estado" class="form-check-input" />
        <label asp-for="Estado" class="form-check-label"></label>
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
    <a asp-area="Admin" asp-controller="Users" asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
