<div class="modal fade" id="disableConfirm" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">

            <div class="modal-body text-center p-4">
                <i class="bi bi-exclamation-triangle text-danger fs-1 mb-3"></i>

                <h6>¿Deshabilitar Usuario?</h6>
                <p class="text-muted">
                    Deshabilitar un usuario impide su acceso al sistema.
                </p>

                <div class="d-flex justify-content-center gap-2">
                    <button class="btn btn-secondary" data-bs-dismiss="modal">
                        Volver
                    </button>
                    <button class="btn btn-danger" id="fakeDisableUser">
                        Confirmar
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>
