html,body {
/*    position: relative;*/
/*    min-height: 100%;*/
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body:not(.auth-page){
margin: 0;
background: linear-gradient( 178deg, rgba(233,236,239,1) 0%, rgba(248,249,250,1) 100% );
}

html, body {
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

    html::-webkit-scrollbar,
    body::-webkit-scrollbar {
        width: 0;
        background: transparent;
    }